.header {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.pull-right {
    float: right!important;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav>li {
    position: relative;
    display: block;
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}