<!doctype html>

<title>Waves | Home</title>

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

<!-- Navbar -->
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Waves Platform</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">Home</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/create-project">Create a Project</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/project-space">Project Space</a></li>
          </ul>
        </li>
        <li><a href="/about">About <span class="sr-only">About</span></a></li>
      </ul>
       <form class="navbar-form navbar-right">
        <a type="button" href="/create-project" class="btn btn-success">Try Now</a>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- End of Navbar -->

<!-- Jumbotron -->
<div class="jumbotron" style="margin-top:50px">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h1>Welcome to Waves !</h1>
        <br>
        <p><b>WAVES</b> is the result of a reasearch project that aims to provide smart water management system. Thanks to its abstract level, it could be easily applied on streaming sensor data in other domains. </p>
        <br>
        <p><a class="btn btn-primary btn-lg" href="/create-project" role="button">Try Waves Now »</a></p>
      </div>
      <div class="col-sm-3">
        <p style="padding:20px"></p> 
        <img class="img img-responsive" src="../static/img/logo.png">
      </div>
    </div>
  </div>
</div>
<!-- End of Jumbotron -->

<!-- Main content -->
<div class="container">
<!-- Features -->
<h2>Our Features</h2>
<hr/>
<div class="row">
<div class="col-md-4">
  <h3>Distributed</h3>
  <p>WAVES is a distributed plateform through multiple nodes to deal with high streaming rates in a real-time environment. </p>
</div>
<div class="col-md-4">
  <h3>Scalable</h3>
  <p>High-load tolerance and great up-time services enable WAVES to solve large-scale business problems ad provide high performance. </p>
</div>
<div class="col-md-4">
  <h3>Real-Time</h3>
  <p>Sensors are able to send information to waves in real-time enabling the plateform to rapudly process the incoming streams.</p>
</div>
<div class="col-md-4">
  <h3>Semantic Streams</h3>
  <p>Making the most of the IOT cannot be achieved without using the heterogeneous data spread across the Web. WAVES plateform uses RDF and Linked Data. </p>
</div>
<div class="col-md-4">
  <h3>Multipurpose</h3>
  <p>WAVES plateform is intended to deploy tools that can be useful for multiple use-cases. All industries and branches can benefit from WAVES versatile capabilities . </p>
</div>
<div class="col-md-4">
  <h3>Low Latency</h3>
  <p>Big data and low latency are heavily linked. One of the primary design goals of waves plateform is to achieve low latency accross the network.</p>
</div>
</div>
<hr>
<!-- End of Features -->
<!-- Footer -->
<footer>
<p>Waves is an open source project. Version 0.0 © 2017 Atos Integration. </p>
</footer>
<!-- End of Footer -->
</div>
<!-- End of Main Content -->

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>